<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mech.develop.smarthouse.smarthouseclient">

    <application>
        <activity android:name=".presentation.activity.SmarthouseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
