<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mech.develop.smarthouse.smarthouseclient.killbutton">

    <application>
        <receiver
            android:name=".widget.view.RedButtonWidget"
            android:icon="@android:drawable/star_big_on"
            android:label="@string/widget_red_button_name">
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_red_button_metadata">
            </meta-data>
        </receiver>
    </application>

</manifest>
